body{
    font-family: Roboto;
    color: #212121;
}
.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}
.first-logo{
    color: #2196F3
}

.unstyled-list{
    list-style: none;
}
.navigation-list li a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.navigation-list li a:hover{
    color: #2196F3
}
.right-navigation-list li a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.right-navigation-list li a:hover{
    color: #2196F3
}
.buttons-list li button{
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    cursor: pointer;
}
.buttons-list li button:hover{
    background: #2196F3
}
.project-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.project-list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.addres-list li a{
    text-decoration: none;
}
.footer-adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: black
}
.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: black
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: black
}
.addres-list li a:hover{
    color: #2196F3
}
